@use "../_styles/mixins" as mixins;

.container {
        max-width: 1360px;
        padding: 0 20px;
        margin: 0 auto;
    @include mixins.mediaquery ("tablet", min) {
        padding: 0 32px;
    }
    @include mixins.mediaquery ("desktop", min) {
        padding: 0 28px;
    }
}