@use '../_styles/mixins' as mixins;
@use '../_styles/colors';

.logo {
  display: flex;
  align-items: center;
  opacity: 0.9;
  cursor: pointer;
  &:hover,
  &:focus {
    transform: scale(1.025);
    transition-duration: 500ms;
    opacity: 1;
  }
}
.img {
  
  @include mixins.mediaquery ("tablet", min) {
    width: 260px;
    height: 40px;
  }
}
.name {
  display: flex;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--extra-color);
  margin-left: 8px;
}
.text {
  color: var(--primary-text-color);
  margin-left: 8px;
}