@use "../_styles/default";
@use "../_styles/mixins";
@use "../_styles/colors";
@use "../_styles/fonts";

// .blok {
//   @include mixins.mediaquery ("tablet", min) {
//     display: flex;
//     align-items: center;
//   } 
// }
// .img {
//   @include mixins.mediaquery ("tablet", min) {
//     margin-right: 5px;
//     width: 400px;
//     @include mixins.mediaquery ("desktop", min) {
//       margin-right: 40px;
//       width: 550px;
//     }
//   }
// }
// .text {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 10px;
//   line-height: 160%;
//   text-align: center;
//   color: var(--text-normal);
//   opacity: 0.6;
//   margin-top: 20px;
//   & .text_title {
//     color: var(--button);
//   }
//   @include mixins.mediaquery ("tablet", min) {
//     font-size: 13px;
//     margin-top: 0;
//   }
//   @include mixins.mediaquery ("desktop", min) {
//     font-size: 18px;
//   }
// }
.solutions_box {
  color: var(--primary-text-color);
  padding: 79px 0;
  background-color: var(--extra-color);
}
.box {
  display: flex;
  flex-direction: column;
}
.question {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.title {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 16px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 24px;
}
.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-text-color);
  width: 148px;
  padding: 16px 32px;
  margin-top: 24px;
  border: 1px solid var(--background);
  border-radius: 5px;
  background: none;
  cursor: pointer;
}