@use "../_styles/default";
@use "../_styles/mixins";
@use "../_styles/colors";

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
//   @include mixins.mediaquery ("desktop", min) {
//     height: 100px;
//   }
}
.coloredHeader {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--background-header);
}
.header_box {
    padding: 22px 0;
    @include mixins.mediaquery ("tablet", min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
}