:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #333333;
  --form-text-color: #808080;
  --background: #ffffff;
  --extra-color: #28A745;
  --blog-color: #0284D0;
  --background-btn: #2EBF4F;
  // --background-action: #FF1B1B;
  // --background-top: #1E2E36;
}