:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #333333;
  --form-text-color: #808080;
  --background: #ffffff;
  --footer-bg-color: #333333;
  --extra-color: #28A745;
  --blog-color: #0284D0;
  --background-btn: #2EBF4F;
  --background-imege: rgba(0, 0, 0, 0.4);
  --form-color: #F4F4F4;
  --form-border: #F5F5F5;
  --drop: rgba(0, 0, 0, 0.25);
  --box-shadow: 2px 2px 15px #33333385;
  --background-header: rgba(58, 58, 58, 0.8);
  --error: red;
  --color-text: #000000;
}