@use "../_styles/default";
@use "../_styles/mixins";
@use "../_styles/colors";
@use "../_styles/fonts";

.blog {
  @include mixins.mediaquery ("tablet", min) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.blog_img {
  width: 100%;
  height: 247px;
  margin-left: auto;
  margin-right: auto;
  background: #fff url("../../images/home/blog.jpg") no-repeat center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mixins.mediaquery ("tablet", min) {
      height: auto;
  }
}
.blog_box {
    color: var(--primary-text-color);
    padding-top: 48px;
    padding-bottom: 58px;
    background-color: var(--blog-color);
    @include mixins.mediaquery ("tablet", min) {
      padding-top: 59px;
      padding-bottom: 59px;
    }
    @include mixins.mediaquery ("desktop", min) {
      padding: 80px 0;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    @include mixins.mediaquery ("tablet", min) {
      width: 336px;
    }
    @include mixins.mediaquery ("desktop", min) {
      width: 642px;
    }
  }
  .question {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    @include mixins.mediaquery ("tablet", min) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .title {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-top: 16px;
    @include mixins.mediaquery ("tablet", min) {
      font-size: 40px;
      line-height: 54px;
    }
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 24px;
    @include mixins.mediaquery ("tablet", min) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  .btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--primary-text-color);
    width: 174px;
    padding: 16px 32px;
    margin-top: 24px;
    border: 1px solid var(--background);
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color, border;
    &:hover,
    &:focus {
      color: var(--blog-color);
      background-color: var(--form-color);
      border: 1px solid var(--blog-color);
    }
    @include mixins.mediaquery ("tablet", min) {
      font-size: 18px;
      line-height: 25px;
      width: 200px;
    }
  }